*{
    font-family: Arial;
    margin-left:5px;
}

.pi{margin: 3px 3px 3px 3px;}
h1{text-align: center-left; display:inline; font-size:95%;}
/*h1:hover{text-decoration: underline;}*/
.cont{display:flex; align-items:center;/*margin-rigth:100%*/margin-right:50%;}
.d1{border:1px solid black; box-shadow: 3px 2px 5px black;}
.d2{margin-left:35%;}
.p1:hover{text-decoration: underline;}
.p1{margin-bottom:15px;}
#im1{border-radius:50%; display:inline;}

.sub:hover{text-decoration:underline;} 

